<div class="item-card-wrapper">
	<a href="#" class="item-card-image -two-images">
		<img class="-two-images-1" src="images/item-card-image.png" alt="">
		<img class="-two-images-2" src="images/Electrolux Evolution Super.png" alt="">
	</a>
	<div class="item-card-art">
		Арт: RC008
	</div>
	<div class="item-card-sys">
		Инверторные сплит-системы
	</div>
	<a href="#" class="item-card-title">
		Hisense AS-13UW4RVETG01(S) SILVER CRYSTAL SUPER DC Inverte...
	</a>
	<div class="item-card-brend">
		<span>Бренд:</span>  Royal Clima
	</div>
	<div class="item-card-prise-wrapper">
		<div class="item-card-prise">
			46 690 
			<svg>
				<use xlink:href="images/svg-sprite/symbol/svg/sprite.symbol.svg#rub" aria-hidden="true"></use>
			</svg>
		</div>
		<div class="item-card-availability">В наличии</div>
	</div>
	<a href="/item-card.html" class="button -orange-bg -w100">Оформить заказ</a>

	<div class="item-card-delivery">
		<span>Доставка в </span> Санкт-Петербург <br>	 от 1 рабочего дня бесплатно
	</div>
</div>